* {
    margin: 0;
    padding: 0;
}
.border {
    margin: auto;
    width: 880px;
    height: 880px;
    border: 1px solid black;
}
li {
    display: inline-block;
    margin: 0px;
    padding: 0;
    width: 110px;
    height: 110px;
    background: #000000;
    position: fixed;
}
.first li:nth-child(4) {
    margin-left: 770px;
}
.first li:nth-child(3) {
    margin-left: 550px;
}
.first li:nth-child(2) {
    margin-left: 330px;
}
.first li:nth-child(1) {
    margin-left: 110px;
}
.two li:nth-child(4) {
    margin-left: 660px;
    margin-top: 110px;
}
.two li:nth-child(3) {
    margin-left: 440px;
    margin-top: 110px;
}
.two li:nth-child(2) {
    margin-left: 220px;
    margin-top: 110px;
}
.two li:nth-child(1) {
    margin-top: 110px;
}
.three li:nth-child(4) {
    margin-left: 770px;
    margin-top: 220px;
}
.three li:nth-child(3) {
    margin-left: 550px;
    margin-top: 220px;
}
.three li:nth-child(2) {
    margin-left: 330px;
    margin-top: 220px;
}
.three li:nth-child(1) {
    margin-left: 110px;
    margin-top: 220px;
}
.four li:nth-child(4) {
    margin-left: 660px;
    margin-top: 330px;
}
.four li:nth-child(3) {
    margin-left: 440px;
    margin-top: 330px;
}
.four li:nth-child(2) {
    margin-left: 220px;
    margin-top: 330px;
}
.four li:nth-child(1) {
    margin-top: 330px;
}
.five li:nth-child(4) {
    margin-left: 770px;
    margin-top: 440px;
}
.five li:nth-child(3) {
    margin-left: 550px;
    margin-top: 440px;
}
.five li:nth-child(2) {
    margin-left: 330px;
    margin-top: 440px;
}
.five li:nth-child(1) {
    margin-left: 110px;
    margin-top: 440px;
}
.six li:nth-child(4) {
    margin-left: 660px;
    margin-top: 550px;
}
.six li:nth-child(3) {
    margin-left: 440px;
    margin-top: 550px;
}
.six li:nth-child(2) {
    margin-left: 220px;
    margin-top: 550px;
}
.six li:nth-child(1) {
    margin-top: 550px;
}
.seven li:nth-child(4) {
    margin-left: 770px;
    margin-top: 660px;
}
.seven li:nth-child(3) {
    margin-left: 550px;
    margin-top: 660px;
}
.seven li:nth-child(2) {
    margin-left: 330px;
    margin-top: 660px;
}
.seven li:nth-child(1) {
    margin-left: 110px;
    margin-top: 660px;
}
.eight li:nth-child(4) {
    margin-left: 660px;
    margin-top: 770px;
}
.eight li:nth-child(3) {
    margin-left: 440px;
    margin-top: 770px;
}
.eight li:nth-child(2) {
    margin-left: 220px;
    margin-top: 770px;
}
.eight li:nth-child(1) {
    margin-top: 770px;
}
.first li div {
    position: relative;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 40px;
    left: 15px;
    top: 15px;
}
.two li div {
    position: relative;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 40px;
    left: 15px;
    top: 15px;
}
.three li div {
    position: relative;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 40px;
    left: 15px;
    top: 15px;
}
.six li div {
    position: relative;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 40px;
    left: 15px;
    top: 15px;
}
.seven li div {
    position: relative;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 40px;
    left: 15px;
    top: 15px;
}
.eight li div {
    position: relative;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 40px;
    left: 15px;
    top: 15px;
}
